body {
}

.position-1, .position-2, .position-4,
.position-5, .position-7, .position-8 {
    border-right: 4px ridge white;
}

.position-1, .position-2, .position-3,
.position-4, .position-5, .position-6 {
    border-bottom: 4px ridge white;
}

.gameboard {
    font-family: 'Source Code Pro', sans-serif;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    text-align: center;
    width: 90%;
}
@media (min-width: 768px) {
    .gameboard {
        width: 70%;
    }
}
@media (min-width: 992px) {
    .gameboard {
        width: 50%;
    }
}
.gameboard .overlay {
    border-radius: 4px;
    color: white;
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #DFE3E6;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 10;
}
.gameboard .overlay .overlay-content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.gameboard .overlay h2 {
    color: #181C1F;
    text-shadow: 2px 2px #FFF;
    font-family: 'Teko', sans-serif;
    font-size: 12vw;
    margin-top: 0;
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .gameboard .overlay h2 {
        font-size: 70px;
    }
}
.gameboard .overlay button {
    background-color: rgba(8, 8, 8, 0.4);
    border-radius: 4px;
    border: 1px solid black;
    font-size: 8vw;
    font-weight: 600;
    margin: 10px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
@media (min-width: 768px) {
    .gameboard .overlay button {
        font-size: 80px;
        margin: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
.gameboard .overlay button:hover {
    color: green;
    background-color: white;
}
.gameboard .row {
    height: 33.33333333%;
    margin-left: 0;
    margin-right: 0;
}
.gameboard .row .ttt-space {
    height: 100%;
    float: left;
    box-sizing: border-box;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.gameboard .row .ttt-space:hover {
    cursor: pointer;
}
.gameboard .row .ttt-space p {
    display: block;
    font-size: 16vw;
    font-weight: 600;
    margin: 0;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
@media (min-width: 768px) {
    .gameboard .row .ttt-space p {
        font-size: 90px;
    }
}
.gameboard .row .ttt-space p.player {
    color: green;
}
.gameboard .row .ttt-space p.computer {
    color: red;
}
footer {
    color: #669
}
